<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Slave Contract Form</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/javascript/join.js}"></script>
</head>
<body>
<h2>Reboot</h2>
<div>
    <input th:type="text" th:name="memberId" th:placeholder="'아이디'"/><br>
    <input th:type="password" th:name="memberPassword" th:placeholder="'비번임'"/><br>
    <input th:type="text" th:id="search" th:name="search" th:placeholder="'암거래 장소 어디로 잡을까요?'"/><input th:id="searchBtn" th:type="button" th:value="'이딴것도 버튼이라고'"> <br><br>
</div>
<div id="map" style="width:600px;height:600px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f7a26a0611abfcd9aba74eb1c9fccedd"></script>
<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    var marker; // 전역 변수로 변경
    var center;

if (navigator.geolocation) {

    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {

        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

        var locPosition = new kakao.maps.LatLng(lat, lon);

        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition);
      });

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

    displayMarker(locPosition);
}

function displayMarker(locPosition) {

    // 마커를 생성합니다
        marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition
             });


    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);


}
kakao.maps.event.addListener(map, 'dragend', updateMarkerPosition);

function removeMarker(marker) {
    if (marker) {
        marker.setMap(null);
    }
}
function updateMarkerPosition() {
    removeMarker(marker);
    center = map.getCenter();

    marker = new kakao.maps.Marker({
                    map: map,
                    position: center
    });

}

document.querySelector('#searchBtn').addEventListener('onclick', function () {
      var inputText = document.querySelector('#search').value;
      var geocoder = new kakao.maps.services.Geocoder();

      geocoder.addressSearch(inputText, function (result, status) {
        if (status === kakao.maps.services.Status.OK) {
          removeMarker(marker);
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 결과값으로 받은 위치를 마커로 표시합니다
          marker = new kakao.maps.Marker({
            map: map,
            position: coords
          });


          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(coords);
        }
      });
    });


</script>

</body>
</html>